
.success{
  color: green;
  background: greenyellow;
  padding: 5px;
  height: auto;
  width: 100%;
  border: 2px solid black;
  border-radius: 2px;
}

.error{
  color: red;
  background: palevioletred;
  padding: 5px;
  height: auto;
  width: 100%;
  border: 2px solid black;
  border-radius: 2px;
}
